# External Data from Zuers

In [1]:
import pandas as pd

## Loading the Data

In [ ]:
df = pd.read_csv('contract_classification.csv')

In [ ]:
zuers_df = pd.read_csv('zuers_df.csv')

In [6]:
zuers_shrinked = zuers_df[['DAMAGE_EVENT_ZIP_CODE', 'DAMAGE_FLOOD_ZONE', 'DAMAGE_EVENT_STREET', 'DAMAGE_HEAVY_RAIN_ZONE']]

In [7]:
zuers_shrinked = zuers_shrinked.dropna()

In [8]:
zuers_shrinked.info()

<class 'pandas.core.frame.DataFrame'>
Index: 314765 entries, 0 to 387271
Data columns (total 4 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DAMAGE_EVENT_ZIP_CODE   314765 non-null  object
 1   DAMAGE_FLOOD_ZONE       314765 non-null  float64
 2   DAMAGE_EVENT_STREET     314765 non-null  object
 3   DAMAGE_HEAVY_RAIN_ZONE  314765 non-null  float64
dtypes: float64(2), object(2)
memory usage: 12.0+ MB

In [9]:
zuers_shrinked.nunique()

DAMAGE_EVENT_ZIP_CODE     14283
DAMAGE_FLOOD_ZONE             4
DAMAGE_EVENT_STREET       66261
DAMAGE_HEAVY_RAIN_ZONE        3
dtype: int64

In [10]:
zuers_shrinked.head()

,DAMAGE_EVENT_ZIP_CODE,DAMAGE_FLOOD_ZONE,DAMAGE_EVENT_STREET,DAMAGE_HEAVY_RAIN_ZONE
0,45134,1.0,KANTORIE,2.0
2,40229,1.0,OBERSTEINER WEG,2.0
3,42549,1.0,LOSENBURGER WEG,1.0
4,40789,1.0,SCHALLENSTR.,1.0
5,58339,1.0,DENARSTR.,2.0

In [11]:
zuers_shrinked['DAMAGE_EVENT_ZIP_CODE'] = zuers_shrinked['DAMAGE_EVENT_ZIP_CODE'].astype(str)

In [12]:
zuers_shrinked['DAMAGE_FLOOD_ZONE'].value_counts()

DAMAGE_FLOOD_ZONE
1.0    286130
2.0     24506
3.0      3139
4.0       990
Name: count, dtype: int64

In [16]:
zuers_shrinked = zuers_shrinked.drop(columns=['DAMAGE_EVENT_STREET'])

In [17]:
# Check the data types of the columns
print(zuers_shrinked.dtypes)

# Select only numeric columns
numeric_columns = zuers_shrinked.select_dtypes(include=['number']).columns

# Perform groupby and mean operation on numeric columns only
zuers_shrinked_mean = zuers_shrinked.groupby('DAMAGE_EVENT_ZIP_CODE')[numeric_columns].mean()

DAMAGE_EVENT_ZIP_CODE      object
DAMAGE_FLOOD_ZONE         float64
DAMAGE_HEAVY_RAIN_ZONE    float64
dtype: object
                       DAMAGE_FLOOD_ZONE  DAMAGE_HEAVY_RAIN_ZONE
DAMAGE_EVENT_ZIP_CODE
01067                           1.200000                1.866667
01069                           1.000000                2.000000
01097                           1.000000                1.952381
01099                           1.000000                1.961538
01108                           1.000000                2.000000
...                                  ...                     ...
99994                           1.000000                2.500000
99994.0                         1.000000                2.166667
99996                           1.000000                2.000000
99998                           1.166667                2.000000
99998.0                         1.300000                2.400000

[14734 rows x 2 columns]

In [47]:
zuers_shrinked_mean = zuers_shrinked.groupby('DAMAGE_EVENT_ZIP_CODE').mean().reset_index()

In [54]:
zuers_shrinked_mean.to_csv('zuers_shrinked_mean.csv')

## Merging the data

In [55]:
df['ORTPLZ'] = df['ORTPLZ'].astype(str)
df['ORTPLZ'] = df['ORTPLZ'].str.rstrip('.0')

In [58]:
zuers_shrinked_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14734 entries, 0 to 14733
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DAMAGE_EVENT_ZIP_CODE   14734 non-null  object
 1   DAMAGE_FLOOD_ZONE       14734 non-null  float64
 2   DAMAGE_HEAVY_RAIN_ZONE  14734 non-null  float64
dtypes: float64(2), object(1)
memory usage: 345.5+ KB

In [44]:
zuers_shrinked_mean.nunique()

DAMAGE_FLOOD_ZONE          927
DAMAGE_HEAVY_RAIN_ZONE    1581
dtype: int64

In [64]:
contracts_with_new_data = pd.merge(df, zuers_shrinked_mean, 
                                   left_on=['ORTPLZ'], 
                                   right_on=['DAMAGE_EVENT_ZIP_CODE'], 
                                   how='inner')

In [ ]:
contracts_with_new_data.to_csv('contracts_with_new_data_MEAN.csv')