# Merge the location data

In [2]:
import pandas as pd

In [3]:
nrw1 = pd.read_csv('coord_subset_Nordrhein-Westfalen-1.csv')
nrw2 = pd.read_csv('coord_subset_Nordrhein-Westfalen-2.csv')
nrw3 = pd.read_csv('coord_subset_Nordrhein-Westfalen-3.csv')

In [7]:
combined_df = pd.concat([nrw1, nrw2, nrw3])

In [9]:
combined_df.to_csv('coord_subset_Nordrhein-Westfalen.csv', index=False)

## Load the Location data of each Bundesland

In [13]:
Baden_Württemberg = pd.read_csv('coord_subset_Baden-Württemberg.csv')
Bayern = pd.read_csv('coord_subset_Bayern.csv')
Berlin = pd.read_csv('coord_subset_Berlin.csv')
Brandenburg = pd.read_csv('coord_subset_Brandenburg.csv')
Bremen = pd.read_csv('coord_subset_Bremen.csv')
Hamburg = pd.read_csv('coord_subset_Hamburg.csv')
Hessen = pd.read_csv('coord_subset_Hessen.csv')
Mecklenburg_Vorpommern = pd.read_csv('coord_subset_Mecklenburg-Vorpommern.csv')
Niedersachsen = pd.read_csv('coord_subset_Niedersachsen.csv')
Nordrhein_Westfalen = pd.read_csv('coord_subset_Nordrhein-Westfalen.csv')
Rheinland_Pfalz = pd.read_csv('coord_subset_Rheinland-Pfalz.csv')
Saarland = pd.read_csv('coord_subset_Saarland.csv')
Sachsen = pd.read_csv('coord_subset_Sachsen.csv')
Sachsen_Anhalt = pd.read_csv('coord_subset_Sachsen-Anhalt.csv')
Schleswig_Holstein = pd.read_csv('coord_subset_Schleswig-Holstein.csv')
Thüringen = pd.read_csv('coord_subset_Thüringen.csv')

In [15]:
# Kombinieren der DataFrames
combined_df = pd.concat([
    Baden_Württemberg,
    Bayern,
    Berlin,
    Brandenburg,
    Bremen,
    Hamburg,
    Hessen,
    Mecklenburg_Vorpommern,
    Niedersachsen,
    Nordrhein_Westfalen,
    Rheinland_Pfalz,
    Saarland,
    Sachsen,
    Sachsen_Anhalt,
    Schleswig_Holstein,
    Thüringen
])

# Optional: Zurücksetzen der Indexe, falls nötig
combined_df.reset_index(drop=True, inplace=True)

combined_df.drop(combined_df.columns[:2], axis=1, inplace=True)

# Speichern des kombinierten DataFrames in eine CSV-Datei
combined_df.to_csv('Deutschland_koordiniert.csv', index=False)

print("DataFrame wurde erfolgreich in 'Deutschland_koordiniert.csv' gespeichert.")

DataFrame wurde erfolgreich in 'Deutschland_koordiniert.csv' gespeichert.

In [19]:
combined_df = combined_df.drop_duplicates(subset='ANO_SID', keep='last')

In [20]:
combined_df.nunique()

ANO_SID                   452932
CORPORATE_DEVISION             4
ORTPLZ                      6293
ORTS-NAME                  10645
STRASSE                   189884
SUM_INSURED                64845
CONSTRACTION_DESIGN           13
CONSTRUCTION_YEAR            431
WFL                          767
ZONE                          23
SF-SYSTEM                      5
TYPE_OF_DEDUCTIBLE             5
DRAIN_PIPE_INSURED             1
PRODUCTLINE                    6
PRIOR_DAMAGES                  8
UVV-KZ                         2
UNDERWRITER                    2
PARTY-ID                  443816
contract_year                 11
PIPE_PREMIUM_AMOUNT        99486
YEAR                          11
DAMAGE                         2
DAMAGE_FLOOD_ZONE            504
DAMAGE_HEAVY_RAIN_ZONE       961
PLZ                         6293
Bundesland                    16
Kreis                        372
Typ                            2
LATITUDE                  417827
LONGITUDE                 417966
dtype: int64

In [38]:
contracts = pd.read_csv('contracts_with_new_data_MEAN.csv')

C:\Users\nilst\AppData\Local\Temp\ipykernel_14624\2166075303.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  contracts = pd.read_csv('contracts_with_new_data_MEAN.csv')

In [39]:
contracts.nunique()

Unnamed: 0                10374540
ANO_SID                    1513666
CORPORATE_DEVISION               4
ORTPLZ                        6409
ORTS-NAME                    12640
STRASSE                     199961
SUM_INSURED                 373397
CONSTRACTION_DESIGN             13
CONSTRUCTION_YEAR              530
WFL                            927
ZONE                            32
SF-SYSTEM                        5
TYPE_OF_DEDUCTIBLE               5
DRAIN_PIPE_INSURED               1
PRODUCTLINE                      6
PRIOR_DAMAGES                   10
UVV-KZ                           2
UNDERWRITER                      2
PARTY-ID                   1371754
contract_year                   11
PIPE_PREMIUM_AMOUNT         313620
YEAR                            11
DAMAGE                           2
DAMAGE_FLOOD_ZONE              531
DAMAGE_HEAVY_RAIN_ZONE        1010
dtype: int64

In [54]:
data1 = pd.merge(contracts, combined_df[['ORTPLZ', 'STRASSE', 'Bundesland', 'Kreis', 'Typ', 'LONGITUDE', 'LATITUDE']], on=['ORTPLZ', 'STRASSE'], how='left')

In [41]:
data1.nunique()

Unnamed: 0                10374540
ANO_SID                    1513666
CORPORATE_DEVISION               4
ORTPLZ                        6409
ORTS-NAME                    12640
STRASSE                     199961
SUM_INSURED                 373397
CONSTRACTION_DESIGN             13
CONSTRUCTION_YEAR              530
WFL                            927
ZONE                            32
SF-SYSTEM                        5
TYPE_OF_DEDUCTIBLE               5
DRAIN_PIPE_INSURED               1
PRODUCTLINE                      6
PRIOR_DAMAGES                   10
UVV-KZ                           2
UNDERWRITER                      2
PARTY-ID                   1371754
contract_year                   11
PIPE_PREMIUM_AMOUNT         313620
YEAR                            11
DAMAGE                           2
DAMAGE_FLOOD_ZONE              531
DAMAGE_HEAVY_RAIN_ZONE        1010
LONGITUDE                   417966
LATITUDE                    417827
dtype: int64

In [42]:
data1.isna().sum()

Unnamed: 0                      0
ANO_SID                        50
CORPORATE_DEVISION              0
ORTPLZ                          0
ORTS-NAME                      15
STRASSE                      8516
SUM_INSURED                 14832
CONSTRACTION_DESIGN       1083360
CONSTRUCTION_YEAR               0
WFL                         14996
ZONE                       877533
SF-SYSTEM                 8713940
TYPE_OF_DEDUCTIBLE              0
DRAIN_PIPE_INSURED              0
PRODUCTLINE               1583747
PRIOR_DAMAGES                   0
UVV-KZ                          0
UNDERWRITER                     0
PARTY-ID                      191
contract_year                   0
PIPE_PREMIUM_AMOUNT           164
YEAR                            0
DAMAGE                          0
DAMAGE_FLOOD_ZONE               0
DAMAGE_HEAVY_RAIN_ZONE          0
LONGITUDE                  874705
LATITUDE                   874705
dtype: int64

In [45]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10374540 entries, 0 to 10374539
Data columns (total 26 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ANO_SID                 float64
 1   CORPORATE_DEVISION      object
 2   ORTPLZ                  int64
 3   ORTS-NAME               object
 4   STRASSE                 object
 5   SUM_INSURED             float64
 6   CONSTRACTION_DESIGN     object
 7   CONSTRUCTION_YEAR       float64
 8   WFL                     float64
 9   ZONE                    object
 10  SF-SYSTEM               float64
 11  TYPE_OF_DEDUCTIBLE      int64
 12  DRAIN_PIPE_INSURED      int64
 13  PRODUCTLINE             object
 14  PRIOR_DAMAGES           int64
 15  UVV-KZ                  int64
 16  UNDERWRITER             object
 17  PARTY-ID                object
 18  contract_year           object
 19  PIPE_PREMIUM_AMOUNT     float64
 20  YEAR                    int64
 21  DAMAGE                  int64
 22  DAMAGE_FLOOD_ZONE       float64
 23  DAMAGE_HEAVY_RAIN_ZONE  float64
 24  LONGITUDE               float64
 25  LATITUDE                float64
dtypes: float64(10), int64(7), object(9)
memory usage: 2.0+ GB

In [44]:
data1.drop(data1.columns[0], axis=1, inplace=True)

In [55]:
data1 = data1[['ANO_SID', 'CORPORATE_DEVISION','Bundesland', 'Kreis', 'Typ', 'ORTPLZ', 'ORTS-NAME', 'STRASSE', 'SUM_INSURED',
               'CONSTRACTION_DESIGN', 'CONSTRUCTION_YEAR', 'WFL', 'ZONE', 'SF-SYSTEM',
               'TYPE_OF_DEDUCTIBLE', 'DRAIN_PIPE_INSURED', 'PRODUCTLINE', 'PRIOR_DAMAGES',
               'UVV-KZ', 'UNDERWRITER', 'PARTY-ID', 'contract_year', 'PIPE_PREMIUM_AMOUNT',
               'YEAR', 'DAMAGE_FLOOD_ZONE', 'DAMAGE_HEAVY_RAIN_ZONE',
               'LONGITUDE', 'LATITUDE', 'DAMAGE']]

In [47]:
data3 = pd.read_csv('contract_classification.csv')

C:\Users\nilst\AppData\Local\Temp\ipykernel_14624\3629089493.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv('contract_classification.csv')

In [48]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11574439 entries, 0 to 11574438
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   ANO_SID              float64
 1   CORPORATE_DEVISION   object
 2   ORTPLZ               float64
 3   ORTS-NAME            object
 4   STRASSE              object
 5   SUM_INSURED          float64
 6   CONSTRACTION_DESIGN  object
 7   CONSTRUCTION_YEAR    float64
 8   WFL                  float64
 9   ZONE                 object
 10  SF-SYSTEM            float64
 11  TYPE_OF_DEDUCTIBLE   int64
 12  DRAIN_PIPE_INSURED   int64
 13  PRODUCTLINE          object
 14  PRIOR_DAMAGES        int64
 15  UVV-KZ               int64
 16  UNDERWRITER          object
 17  PARTY-ID             object
 18  contract_year        object
 19  PIPE_PREMIUM_AMOUNT  float64
 20  YEAR                 int64
 21  DAMAGE               int64
dtypes: float64(7), int64(6), object(9)
memory usage: 1.9+ GB

In [62]:
data1.to_csv('contracts.csv')

In [58]:
data_unique_SID = data1.drop_duplicates(['ANO_SID'])

In [59]:
data_unique_SID.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1513667 entries, 0 to 10374539
Data columns (total 29 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   ANO_SID                 1513666 non-null  float64
 1   CORPORATE_DEVISION      1513667 non-null  object
 2   Bundesland              1420052 non-null  object
 3   Kreis                   1420052 non-null  object
 4   Typ                     1420052 non-null  object
 5   ORTPLZ                  1513667 non-null  int64
 6   ORTS-NAME               1513662 non-null  object
 7   STRASSE                 1512587 non-null  object
 8   SUM_INSURED             1511386 non-null  float64
 9   CONSTRACTION_DESIGN     1349207 non-null  object
 10  CONSTRUCTION_YEAR       1513667 non-null  float64
 11  WFL                     1511363 non-null  float64
 12  ZONE                    1364446 non-null  object
 13  SF-SYSTEM               379150 non-null   float64
 14  TYPE_OF_DEDUCTIBLE      1513667 non-null  int64
 15  DRAIN_PIPE_INSURED      1513667 non-null  int64
 16  PRODUCTLINE             1262425 non-null  object
 17  PRIOR_DAMAGES           1513667 non-null  int64
 18  UVV-KZ                  1513667 non-null  int64
 19  UNDERWRITER             1513667 non-null  object
 20  PARTY-ID                1513644 non-null  object
 21  contract_year           1513667 non-null  object
 22  PIPE_PREMIUM_AMOUNT     1513644 non-null  float64
 23  YEAR                    1513667 non-null  int64
 24  DAMAGE_FLOOD_ZONE       1513667 non-null  float64
 25  DAMAGE_HEAVY_RAIN_ZONE  1513667 non-null  float64
 26  LONGITUDE               1382807 non-null  float64
 27  LATITUDE                1382807 non-null  float64
 28  DAMAGE                  1513667 non-null  int64
dtypes: float64(10), int64(7), object(12)
memory usage: 346.5+ MB

In [60]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10374540 entries, 0 to 10374539
Data columns (total 29 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ANO_SID                 float64
 1   CORPORATE_DEVISION      object
 2   Bundesland              object
 3   Kreis                   object
 4   Typ                     object
 5   ORTPLZ                  int64
 6   ORTS-NAME               object
 7   STRASSE                 object
 8   SUM_INSURED             float64
 9   CONSTRACTION_DESIGN     object
 10  CONSTRUCTION_YEAR       float64
 11  WFL                     float64
 12  ZONE                    object
 13  SF-SYSTEM               float64
 14  TYPE_OF_DEDUCTIBLE      int64
 15  DRAIN_PIPE_INSURED      int64
 16  PRODUCTLINE             object
 17  PRIOR_DAMAGES           int64
 18  UVV-KZ                  int64
 19  UNDERWRITER             object
 20  PARTY-ID                object
 21  contract_year           object
 22  PIPE_PREMIUM_AMOUNT     float64
 23  YEAR                    int64
 24  DAMAGE_FLOOD_ZONE       float64
 25  DAMAGE_HEAVY_RAIN_ZONE  float64
 26  LONGITUDE               float64
 27  LATITUDE                float64
 28  DAMAGE                  int64
dtypes: float64(10), int64(7), object(12)
memory usage: 2.2+ GB

In [61]:
data_unique_SID.to_csv('contracts_unique_SID.csv')